.html, body {
    width: 100vw;

    margin: 0px;
    padding: 0px;
}

#root {
    width: 100vw;
    height: 100vh;
}


.courPage_container_content {
    display: flex;
    width: 830px;

    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;

    margin: 0 auto;
}

.coursPage_container_content_title {
    color: #01180B;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 40px;
}