.html, body {
    width: 100vw;

    margin: 0px;
    padding: 0px;
}

#root {
    width: 100vw;
    height: 100vh;
}


.courPage_container_content {
    display: flex;
    width: 830px;

    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;

    margin: 0 auto;
}

.coursPage_container_content_header {
    display: flex;
    width: 830px;
    height: 162px;
    align-items: end;
    flex-shrink: 0;

    box-sizing: border-box;

    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background: #FC65B8;
}

.coursPage_container_content_header_title {
    color: #6C043E;
    leading-trim: both;
    text-edge: cap;
    font-family: Switzer;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    margin-bottom: 25px;
    margin-left: 25px;
}