.html, body {
    width: 100vw;

    margin: 0px;
    padding: 0px;
}

.home_container {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.home_content_container {
    display: flex;
    width: 1058px;
    padding: 100px 114px 0px 114px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
    margin: auto;
}

.home_content_container_title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}