.coursPage_container {
    width: 100%;
    height: 100%;
    background: #FCFCFC;

    display: flex;
    align-content: center;
    align-items: center;

    justify-content: center;
}

.coursPage_container_content {
    width: 545px;
    height: 444px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: #FFF;
}

.coursPage_container_content_title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;    color: #01180B;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 40px;
    line-height: normal;

    margin-left: 65px;
    margin-top: 65px;
}

.coursPage_container_content_fields {
    display: flex;
    width: 413px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;

    margin-left: 64px;
    margin-top: 60px;

}

.coursPage_container_content_fields_input {
    display: flex;
    height: 52px;
    padding: 10px 19px 10px 26px;
    align-items: center;
    gap: 8px;
    align-self: stretch;


    border-radius: 50px;
    background: #F7F7F7;
    box-sizing: border-box;
    color: #B0B0B0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
}


.coursPage_container_content_fields_button {
    display: inline-flex;
    height: 32px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #000;

    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


    margin-left: 64px;
    margin-top: 35px;
}

.coursPage_container_content_fields_button:hover {
    background: #0079FF;
}

.coursPage_container_content_fields_secondaryButton {
    display: inline-flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    background-color: transparent;

    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border: none;

}

.coursPage_container_content_fields_secondaryButton:hover {
    color: #0079FF;
    border: none;
}












/* Couleur pour le placeholder (texte par défaut) */
.coursPage_container_content_fields_input::placeholder {
    color: #B0B0B0;
    opacity: 1; /* Firefox nécessite cela pour la cohérence */
}

/* Couleur pour le texte saisi par l'utilisateur */
.coursPage_container_content_fields_input {
    color: #010101; /* Couleur du texte saisi */
}

/* Maintenir la couleur du texte pour les états spéciaux */
.coursPage_container_content_fields_input:focus,
.coursPage_container_content_fields_input:-webkit-autofill,
.coursPage_container_content_fields_input:not(:placeholder-shown) {
    color: #010101;
    -webkit-text-fill-color: #010101;
    caret-color: #010101; /* Couleur du curseur qui match le texte */
    outline: none;
}

/* Style spécifique pour l'autofill */
.coursPage_container_content_fields_input:-webkit-autofill,
.coursPage_container_content_fields_input:-webkit-autofill:hover,
.coursPage_container_content_fields_input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #F7F7F7 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}