.notFound_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.notFound_container_title {
    color: #000;
    font-family: Switzer;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
}


.notFound_container_button {
    display: flex;
    height: 32px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border: none;

    border-radius: 11px;
    background: #F2F2F2;

    color: #232323;
    font-family: Switzer;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notFound_container_button:hover {
    background: #E8E8E8;
    transition: background 0.3s ease;
}