.listeTp_container {
    margin-bottom: 50px;
}

.listeTp_container_search {
    height: 52px;
    width: 830px;

    margin-bottom: 35px;

    border-radius: 50px;
    background: #F7F7F7;

    border: none;

    padding-left: 25px;
    box-sizing: border-box;

    color: #B0B0B0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.listeTp_container_content {
    display: flex;
    width: 830px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
    flex-shrink: 0;
    flex-wrap: wrap;
}
