.tp_container {
    width: 830px;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FDFDFD;

}

.tp_container:hover {
    border: 1px solid #0079FF;
}

.tp_container_header {
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 20px;
    flex-shrink: 0;

    height: 80px;

    cursor: pointer;
}

.tp_container_header_title {
    border: none;
    background: transparent;
    width: 700px;

    color: #232323;
    font-family: Switzer;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tp_container_header_title:focus {
    outline: none;
}

.tp_container_header_title::placeholder {
    color: rgba(16, 17, 17, 0.30);
}

.tp_container_header_toggle {
    background-color: transparent;
    width: 32px;
    height: 32px;

    margin-left: 22px;

    transition: transform 0.3s ease;
    transform-origin: center !important;
}

.tp_container_header_toggle.open {
    transform: rotate(180deg);
}



.tp_container_content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

    flex-direction: column;


    flex-shrink: 0;

    padding-left: 22px;
    padding-right: 22px;
}

.tp_container_content_title {
    color: #000;
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    resize: none;
    overflow: hidden;

    margin-top: 0px;
    margin-bottom: 30px;

    width: 700px;
    background: transparent;
}

.tp_container_content_title:focus {
    outline: none;
}

.tp_container_content_title::placeholder {
    color: rgba(16, 17, 17, 0.30);
}

.tp_container_content_button {
    display: inline-flex;
    padding: 10px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #0D0D0D;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 13px;
}

.tp_container_content_button:hover {
    background: #0079FF;
    color: white;
    transition: background-color 0.3s ease;
}

.tp_container_content_addDocument {
    display: inline-flex;
    width: 546px;
    padding: 47px 111px 47px 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    border: 1px dashed #0079FF;
    background: #FFF;
}

.tp_container_content_addDocument_text {
    color: #2F80ED;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tp_container_header_dragHandle {
    margin-right: 25px;
}

.tp_container_header_delete {
    display: inline-flex;
    height: 32px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 11px;
    background: #FBE6E6;

    border: none;

    color: #E40C04;
    font-family: Switzer;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tp_container_header_delete:hover {
    background: #E40C04;
    color: #FFF;
    transition: background-color 0.3s ease;
}