services:
  backend:
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    environment:
      - ENV=dev
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_URL_ASYNC=${DATABASE_URL_ASYNC}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SUPABASE_BUCKET_NAME=${SUPABASE_BUCKET_NAME}
      - PASSWORD_EMAIL_SERVER=${PASSWORD_EMAIL_SERVER}

    volumes:
      - ./api:/api
      - ./data:/data
    ports:
      - 8000:8000
    networks:
      - app-network


  frontend:
    build:
      context: .
      dockerfile: ./build/app/Dockerfile
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - 5173:5173
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  database-volume:
    driver: local
