services:
  backend:
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    environment:
      - ENV=dev
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_URL_ASYNC=${DATABASE_URL_ASYNC}
    volumes:
      - ./api:/api
      - ./data:/data
    ports:
      - 8000:8000
    networks:
      - app-network


  frontend:
    build:
      context: .
      dockerfile: ./build/app/Dockerfile
    volumes:
      - ./app:/app
    ports:
      - 5173:5173
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  database-volume:
    driver: local
