.button-delete {
    display: inline-flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    background: var(--red-light);

    color: var(--red);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-delete:hover {
    background: var(--red);
    color: white;

    border: none;
}


.button {
    display: inline-flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: transparent;

    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:hover {
    background: #1F73FE;
    color: #FFF;
}

.button-rounded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    width: fit-content;

    border-radius: 11px;
    background: #F2F2F2;

    padding: 10px 15px;
}

.button-rounded:hover {
    background: #E8E8E8;
    transition: background 0.3s ease;
    cursor: pointer;
}

.button-rounded p {
    color: #232323;
    font-family: Switzer;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0px;
}