.SearchBar {
    height: 52px;
    width: 830px;

    margin-bottom: 35px;

    border-radius: 50px;
    background: #F8F7F7;

    border: none;

    padding-left: 25px;
    box-sizing: border-box;

    color: rgba(0, 0, 0, 0.42);
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}