.header_container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 830px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    background: white;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}

.header_logo_title {
    color: #353535;
    font-family: Plush-Trial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
