.cours_cards {
    display: flex;
    width: 260px;
    height: 150px;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;

    padding-bottom: 15px;
    padding-left: 20px;

    border-radius: 17px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background: #FE5E2A;
    transition: box-shadow 0.3s ease;
}



.cours_cards_title {
    color: #601700;
    font-family: Switzer;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    margin: 0px;
}


.cours_cards:hover {
    box-shadow: 0 83px 23px 0 rgba(0, 0, 0, 0.00), 0 53px 21px 0 rgba(0, 0, 0, 0.01), 0 30px 18px 0 rgba(0, 0, 0, 0.05), 0 13px 13px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
}