.listeCours_container_content {
     display: flex;
     width: 830px;
     align-items: flex-start;
     align-content: flex-start;
     gap: 25px;
     flex-shrink: 0;
     flex-wrap: wrap;

    padding-bottom: 40px;
 }

.listeCours_container_authenticated_coursadd {

    border-radius: 17px;
    border: 2px dashed #DFDFDF;
    background: #FFF;
    box-sizing: border-box;

    display: flex;
    width: 260px;
    height: 148px;
    padding: 26px 26px 15px 26px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 38px;
    flex-shrink: 0;

    cursor: pointer;
}

.listeCours_container_authenticated_coursadd:hover {
    box-shadow: 0 83px 23px 0 rgba(0, 0, 0, 0.00), 0 53px 21px 0 rgba(0, 0, 0, 0.01), 0 30px 18px 0 rgba(0, 0, 0, 0.05), 0 13px 13px 0 rgba(0, 0, 0, 0.09), 0 3px 7px 0 rgba(0, 0, 0, 0.10);
    transition-duration: 0.6s;
}


.listeCours_container_authenticated_coursadd_title {

    color: #DFDFDF;
    font-family: Switzer;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    width: 100%;
    padding: 0;
    margin: 0;
}



.listeCours_container_authenticated_coursadd_button {
    display: flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);

    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background-color: transparent;

}

.listeCours_container_authenticated_coursadd_button:hover {
    background: #0079FF;
    color: white;
    transition-duration: 0.6s;
}