.listeCours_container_content {
     display: flex;
     width: 830px;
     align-items: flex-start;
     align-content: flex-start;
     gap: 25px;
     flex-shrink: 0;
     flex-wrap: wrap;

    padding-bottom: 40px;
 }

.listeCours_container_authenticated_coursadd {
    display: flex;
    width: 260px;
    height: 148px;
    padding: 26px 89px 15px 26px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 38px;

    border-radius: 17px;
    border: 2px dashed #DFDFDF;
    background: #FFF;
}

.listeCours_container_authenticated_coursadd_footer {
    display: flex;
    width: 260px;
    height: 50px;
    padding-left: 20px;
    padding-right: 11px;
    justify-content: space-between;
    align-items: center;
    /*gap: 106px;*/

    border-radius: 0px 0px 26px 26px;
    background: #FFF;
}

.listeCours_container_authenticated_coursadd_footer_title {
    color: #01180B;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
    background-color: transparent;
    width: 100%;

    padding: 0;

}

.listeCours_container_authenticated_coursadd_footer_title:focus {
    outline: none;
}

.listeCours_container_authenticated_coursadd_footer_title::placeholder {
    color: rgba(16, 17, 17, 0.30);
}

.listeCours_container_authenticated_coursadd_footer_button {
    display: flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);

    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background-color: transparent;
}

.listeCours_container_authenticated_coursadd_footer_button:hover {
    background: #0079FF;
    color: white;
    transition-duration: 0.6s;
}