.document_container {
    width: 546px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: #FFF;
    box-shadow: 0px 29px 8px 0px rgba(0, 0, 0, 0.00), 0px 19px 7px 0px rgba(0, 0, 0, 0.00), 0px 10px 6px 0px rgba(0, 0, 0, 0.01), 0px 5px 5px 0px rgba(0, 0, 0, 0.01), 0px 1px 3px 0px rgba(0, 0, 0, 0.01);
}

.document_container_content {
    height: 74px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.document_container_content_icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #F7F7F7;

    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.document_container_content_title {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.document_container_content_button {
    margin-left: auto;
    margin-right: 15px;

    display: inline-flex;
    padding: 7px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: transparent;

    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.document_container_content_button:hover {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background: #1F73FE;

    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.document_container_footer_text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}