.listeDocuments_container_content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-bottom: 22px;
}

.listeDocuments_container_dropzone {
    display: flex;
    width: 546px;
    height: 151px;

    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 10px;
    border: 2px dashed #0079FF;
}

.listeDocuments_container_dropzone_text {
    color: #000000;
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0;
}